<nav class="navbar">
    <div class="navbar_container">
        <img title="recetika_image" id="navbar_logo" src="../../assets/Recetika_Iconologo.svg" href="#" />
        <!-- aqui irian todas las opciones de navegacion -->
        <div class="navbar_account">
            <button class="login_button" onclick="location.href='./login'">Iniciar Sesión</button>
            <button class="register_button" onclick="location.href='./login'">Registrarse</button>
            <button class="calories_button" onclick="location.href='./calculator'">Calcula Calorias</button>
        </div>
    </div>
</nav>

<link href="../css/nav.css" rel="stylesheet" />