<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<nav class="navbar">
    <div class="navbar_container">
        <img title="recetika_image" id="navbar_logo" src="../../assets/Recetika_Iconologo.svg" href="#" />
        <!-- aqui irian todas las opciones de navegacion -->

        {{> components/searchFilter}}

        <div class="navbar_account">
            <div id="options_nav">
                
                    <button class="calories_button" onclick="location.href='./calculator'">
                        <i class="fa-solid fa-weight-scale" style="margin-right: 5px;"></i>
                        Calcula Calorias
                    </button>
                    
                <button class="newrecipe_button" onclick="location.href='./newrecipe'">
                    <i class="fa-solid fa-spoon" style="margin-right: 5px;"></i>
                    Subir Receta
                </button>
            </div>

            <div id="login_nav"></div>
        </div>
    </div>
</nav>

<link href="../css/nav.css" rel="stylesheet" />
<link href="../css/searchFilter.css" rel="stylesheet" />

<script>
    window.onload = function () {
        const username = '{{username}}';
        const loginNav = document.getElementById("login_nav");
        const loginNavMobile = document.getElementById("login_nav_mobile");

        if (username) {
            loginNav.innerHTML = loginNavMobile.innerHTML = `
                <span class="navbar_username">${username}</span>
                <button class="logout_button" onclick="location.href='/logout'">Cerrar sesión</button>
            `;
        } else {
            loginNav.innerHTML = loginNavMobile.innerHTML = `
                <button class="login_button menuItem" style="margin-bottom: 10px" onclick="location.href='/login'">
                    <i class="fa-solid fa-arrow-right-to-bracket" style="margin-right: 5px;"></i>
                    Iniciar Sesión
                </button>
                <button class="register_button menuItem" onclick="location.href='/register'">
                    <i class="fa-solid fa-user-plus" style="margin-right: 5px;"></i>
                    Registrarse
                </button>
            `;
        }
    }
</script>
