<div class="hamburger-menu" style="margin-top: 10px;">
    <input type="checkbox" id="menu-toggle" style="display: none">
    <label for="menu-toggle" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
    <div class="menu-content">
        <!--End of search and filtering-->
        <div id="options_nav_mobile" class="menuItem" style="margin-bottom: 10px">
            <button class="calories_button menuItem" onclick="location.href='/calculator'" style="margin-bottom: 10px">
                <i class="fa-solid fa-weight-scale" style="margin-right: 5px;"></i>
                Calcula Calorias
            </button>
            <button class="newrecipe_button menuItem" onclick="location.href='/newrecipe'">
                <i class="fa-solid fa-spoon" style="margin-right: 5px;"></i>
                Subir Receta
            </button>
        </div>
        <div id="login_nav_mobile" class="menuItem">

        </div>
    </div>
</div>

<script src="../../js/nav.js"></script>