<div class="hamburger-menu" style="margin-top: 10px;">
    <input type="checkbox" id="menu-toggle" style="display: none">
    <label for="menu-toggle" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
    <div class="menu-content">
        <!--Search and filtering-->
        <div id="searchFilter_mobile">
            <!--Search bar-->
            <div class="bm-nav-item menuItem" style="margin-bottom: 10px">
                <form class="bm-d-flex position-relative" onSubmit="return false;">
                    <input class="form-control search-bar" type="search" placeholder="Buscar"
                        aria-label="Search">
                    <button type="submit" title="search" class="magnifier-icon-link"
                        style="cursor: pointer; border: none; background: grey; position: absolute; top: 50%; right: 0px; transform: translateY(-50%); height: 100%; border-radius: .25rem; color: white; opacity: 0.5">
                        <i id="magnifier-icon" class="fa-solid fa-magnifying-glass" style="margin: 5px"></i>
                    </button>
                </form>
            </div>
            <!--End of search bar-->

            <!--Filter dropdown-->
            <div class="dropdown menuItem" style="margin-bottom: 10px">
                <button class="dropBtn">
                    Filtrar
                    <i class="fa-solid fa-filter" style="margin-right: 5px;"></i>
                </button>
                {{> components/FilterDropdown}}
            </div>
            <!--End of filter dropdown-->
        </div>
        <!--End of search and filtering-->
        <div id="options_nav_mobile" class="menuItem" style="margin-bottom: 10px">
            <!--TODO: Sprint 2
                <button class="calories_button" onclick="location.href='./calculator'">
                    <i class="fa-solid fa-weight-scale" style="margin-right: 5px;"></i>
                    Calcula Calorias
                </button>
                -->
            <button class="newrecipe_button menuItem" onclick="location.href='./newrecipe'">
                <i class="fa-solid fa-spoon" style="margin-right: 5px;"></i>
                Subir Receta
            </button>
        </div>
        <div id="login_nav_mobile" class="menuItem"></div>
    </div>
</div>

<!--Search and filtering-->
<div id="searchFilter">
    <!--Search bar-->
    <div class="bm-nav-item">
        <form class="bm-d-flex position-relative" onSubmit="return false;">
            <input class="form-control search-bar" type="search" placeholder="Buscar" aria-label="Search">
            <button type="submit" title="search" class="magnifier-icon-link"
                style="cursor: pointer; border: none; background: grey; position: absolute; top: 50%; right: 0px; transform: translateY(-50%); height: 100%; border-radius: .25rem; color: white; opacity: 0.5">
                <i id="magnifier-icon" class="fa-solid fa-magnifying-glass" style="margin: 5px"></i>
            </button>
        </form>
    </div>
    <!--End of search bar-->

    <!--Filter dropdown-->
    <div class="dropdown">
        <button class="dropBtn">
            Filtrar
            <i class="fa-solid fa-filter" style="margin-right: 5px;"></i>
        </button>
        {{> components/FilterDropdown}}
    </div>
    <!--End of filter dropdown-->
</div>
<!--End of search and filtering-->
