<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/landing.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Nav-->
    {{> components/nav}}

    <!-- Header-->
    <header>
        <div class="text_header">
            <h1 class="maintext_header">Recetas</h1>
            <p class="subtext_header">La selección de los usuarios</p>
        </div>
    </header>

    <!-- Page Content-->
    <section class="recipes_section">
        <div class="recipe_container">
            <img src="../assets/tortillaCebolla.jpg" alt="" class="recipe_image">
            <button class="recipe_button">Ver</button>
            <div class="recipe_info">
                <h5 class="recipe_name">Tortilla Con Cebolla</h5>
            </div>
        </div>
    </section>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/tortillaCebolla.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Tortilla con cebolla</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver</a></div>
                        </div>
                        <!-- Recipe details-->
                        <div class="recipeDetails">
                            <div>
                                <i class="fa-regular fa-clock"></i>
                                <span> 30 min</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-people-group"></i>
                                <span> 4 personas</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-utensils"></i>
                                <span>Dificultad: </span>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-regular fa-circle"></i>
                                <i class="fa-regular fa-circle"></i>
                                <span> Fácil</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-leaf"></i>
                                <span> Vegetariano</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-wheat-awn"></i>
                                <span> Sin gluten</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-fire"></i>
                                <span> 154 cal.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/tartaQueso.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Tarta de queso</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver</a></div>
                        </div>
                        <!-- Recipe details-->
                        <div class="recipeDetails">
                            <div>
                                <i class="fa-regular fa-clock"></i>
                                <span> 30 min</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-people-group"></i>
                                <span> 4 personas</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-utensils"></i>
                                <span> Fácil</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-leaf"></i>
                                <span> Vegetariano</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-wheat-awn"></i>
                                <span> Sin gluten</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-fire"></i>
                                <span> 154 cal.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/sopaCast.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Sopa castellana</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver</a></div>
                        </div>
                        <!-- Recipe details-->
                        <div class="recipeDetails">
                            <div>
                                <i class="fa-regular fa-clock"></i>
                                <span> 30 min</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-people-group"></i>
                                <span> 4 personas</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-utensils"></i>
                                <span> Fácil</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-leaf"></i>
                                <span> Vegetariano</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-wheat-awn"></i>
                                <span> Sin gluten</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-fire"></i>
                                <span> 154 cal.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="assets/polloCurry.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Pollo al curry</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver</a></div>
                        </div>
                        <!-- Recipe details-->
                        <div class="recipeDetails">
                            <div>
                                <i class="fa-regular fa-clock"></i>
                                <span> 30 min</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-people-group"></i>
                                <span> 4 personas</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-utensils"></i>
                                <span> Fácil</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-leaf"></i>
                                <span> Vegetariano</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-wheat-awn"></i>
                                <span> Sin gluten</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-fire"></i>
                                <span> 154 cal.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; saborANosotros 2024</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script type="module" src="js/scripts.js"></script>
</body>

</html>