<!--Hay que mirar plantillas-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Dividirlo en un CSS y linkearlo-->
    <link rel="stylesheet" href="css/login.css">
    <title>Registro e Inicio de Sesión</title>
</head>
<body>
    <div class="container" id="form-container">
        <!-- Formulario de registro por defecto -->
        <h2>Iniciar sesión</h2>
        <form id="login-form" action="/login" method="POST">
            <input type="email" id="login-email" name="email" placeholder="Correo electrónico" required>
            <input type="password" id="login-password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar sesión</button>
        </form>
        
        <div class="toggle">
            <a href="/password" id="password">He olvidado mi contraseña</a>

        </div>
    </div>
</body>
</html>
