<!DOCTYPE html>
<html>

<head>
    <title>Nueva receta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link type="text/css" href="/styles/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/recipeStyle.css">
</head>

<!-- Nav-->
{{> components/nav}}

<body class="body recipesBackground">
    <div class="container">
        <div class="recipesFormEdit">
            <h3 class="formColorTxt">Añade una receta nueva</h3>
            <form id="newRecipeForm">
                <!-- Información principal -->
                <div class="form-group">
                    <label for="title"><b>Nombre</b></label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Nombre de la receta" required>
                </div>
                <div class="form-group">
                    <label for="image"><b>Foto</b></label>
                    <input type="text" name="image" class="form-control" id="image" placeholder="Imagen de la receta(URL)" required>
                </div>
                <div class="form-group">
                    <label for="totalTime"><b>Producción*</b></label>
                    <input type="number" name="yield" class="form-control" id="yield" placeholder="Rendimiento:1,2,5..">
                </div>

                <!-- Etiquetas -->
                <div class="form-group">
                    <label for="dietLabels"><b>Etiquetas de dieta*</b></label>
                    <input type="text" name="dietLabels" class="form-control" id="dietLabels" placeholder="Balanceado, Alto en proteínas...">
                </div>
                <div class="form-group">
                    <label for="healthLabels"><b>Etiquetas de salud*</b></label>
                    <input type="text" name="healthLabels" class="form-control" id="healthLabels" placeholder="Sin lácteos, bajo en azucar...">
                </div>
                <div class="form-group">
                    <label for="cautions"><b>Advertencias*</b></label>
                    <input type="text" name="cautions" class="form-control" id="cautions" placeholder="Sulfitos,Frutos secos...">
                </div>

                <!-- Ingredientes -->
                <div class="form-group">
                    <label for="ingredients"><b>Ingredientes *</b></label>
                    <div id="ingredientsContainer">
                        <!-- Campos de ingredientes dinámicos -->
                    </div>
                    <button type="button" style="color:#403f25" class="addbtn" id="addIngredientButton">+</button>
                </div>

                <div class="form-group">
                    <label for="people"><b>Personas</b></label>
                    <input type="number" name="people" class="form-control" id="people" placeholder="Nº Personas" required>
                </div>
                <div class="form-group">
                    <label for="difficulty"><b>Dificultad</b></label>
                    <select name="difficulty" class="form-control rcpFormText" id="difficulty" required>
                        <option value="1">Muy Fácil</option>
                        <option value="2">Fácil</option>
                        <option value="3">Intermedio</option>
                        <option value="4">Difícil</option>
                        <option value="5">Muy Difícil</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="vegetarian"><b>Es vegetariano?</b></label>
                    <select name="vegetarian" class="form-control" id="vegetarian" required>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="glutenFree"><b>Contiene Gluten??</b></label>
                    <select name="glutenFree" class="form-control" id="glutenFree" required>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <!-- Nutrientes -->
                <div class="form-group">
                    <label for="totalNutrients"><b>Nutrientes*</b></label>
                    <div id="nutrientsContainer">
                        <!-- Campos de nutrientes dinámicos -->
                    </div>
                    <button type="button" class="addbtn" id="addNutrientButton">+</button>
                </div>

                <div class="form-group">
                    <label for="dishType"><b>Tipo de plato*</b></label>
                    <input type="text" name="dishType" class="form-control" id="dishType" placeholder="Postre, Entrante...">
                </div>
                <div class="form-group">
                    <label for="mealType"><b>Tipo de comida*</b></label>
                    <input type="text" name="mealType" class="form-control" id="mealType" placeholder="Desayuno, comida...">
                </div>
                <div class="form-group">
                    <label for="cuisineType"><b>Procedencia*</b></label>
                    <input type="text" name="cuisineType" class="form-control" id="cuisineType" placeholder="Americana, Asiatica...">
                </div>

                <!-- Opciones adicionales -->
                <div class="form-group">
                    <label for="totalTime"><b>Tiempo (min)</b></label>
                    <input type="number" name="totalTime" class="form-control" id="totalTime" placeholder="Tiempo de preparación"required>
                </div>
                <div class="form-group">
                    <label for="totalWeight"><b>Peso(g)*</b></label>
                    <input type="number" name="totalWeight" class="form-control" id="totalWeight" placeholder="Peso total" step="any" min="0">
                </div>

                <div class="form-group">
                    <label for="calories"><b>Calorías</b></label>
                    <input type="number" name="calories" class="form-control" id="calories" placeholder="Calorías totales" step="any" min="0" required>
                </div>
                <!-- Botones -->
                <button type="submit" class="save">Guardar ✅</button>
                <button onclick="window.location.href='/';" class="cancel">Cancelar 🅧</button>
                <div class="smallWords">El simbolo * indica que esos campos son opcionales</div>
            </form>
        </div>
    </div>
    <script src="../js/newRecipe.js"></script>
</body>


</html>