<!DOCTYPE html>
<html>

<head>
    <title>Recetika | Nueva receta </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link type="text/css" href="/styles/style.css" rel="stylesheet">
    <script src="clothesService.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/new_recipe.css">
</head>

<!-- Nav-->
{{> components/nav}}



<body class="body recipesBackground">
    <div class="newrecipe_container">

        <div class="newclothes recipesFormEdit">
            <h3 class="titlenewclothe" style="color:#403f25"> Añade una receta nueva. </h3>
            <form id="newRecipeForm" action="{{route}}" method="post">
                <div class="form-group">
                    <p class="borde">
                        <label for="Nombre de la receta"><b>Nombre de la receta</b></label>
                        <input type="text" name="title" value="{{label}}" class="form-control" id="title"
                            placeholder=" Introduza el nombre de la receta">
                    </p>
                </div>
                <div class="form-group">
                    <p class="borde">
                        <label for="Imagen"><b>URL de la imagen de la receta: </b></label>
                        <input type="text" name="image" value="{{image}}" class="form-control" id="image"
                            placeholder="Introduza el URL de la imagen de la receta">
                    </p>

                    <p class="borde">
                        <label for="Tiempo de la receta"> <b>Tiempo de la receta</b> </label>
                        <input name="totalTime" type="number" value="{{totalTime}}" class="form-control" id="totalTime"
                            placeholder="Introduza el tiempo de la receta">
                    </p>

                    <p class="borde">
                        <label for="Tipo de cocina"> <b>Tipo de cocina</b> </label>
                        <input name="cuisineType" type="text" value="{{cuisineType}}" class="form-control"
                            id="cuisineType" placeholder="Introduzca el Tipo de cocina">
                    </p>

                    <p class="borde">
                        <label for="Cantidad de personas"> <b>Cantidad de personas</b> </label>
                        <input name="people" type="number" value="{{people}}" class="form-control" id="people"
                            placeholder="Introduza la cantidad de personas">
                    </p>
                </div>
                <p class="borde">
                    <label for="Dificultad de la receta"> <b>Dificultad de la receta</b> </label>
                    <input name="difficulty" type="number" value="{{difficulty}}" class="form-control" id="difficulty"
                        placeholder="Introduza la dificultad de la receta">
                </p>
                <div class="form-group">
                    <p class="borde">
                        <label for="vegetarian"><b>Si la receta es vegetariana "true", si no escriba
                                "false"</b></label>
                        <input type="text" name="vegetarian" value="{{vegetarian}}" class="form-control" id="vegetarian"
                            placeholder="Si la receta es vegetariana escriba 'true', si no escriba 'false'">
                    </p>
                </div>
                <div class="form-group">
                    <p class="borde">
                        <label for="gluten"><b>Si la receta contiene gluten escriba "true", si no escriba
                                "false"</b></label>
                        <input type="text" name="glutenFree" value="{{glutenFree}}" class="form-control" id="glutenFree"
                            placeholder="Si la receta contiene gluten escriba 'true', si no escriba 'false'">
                    </p>
                </div>
                <p class="borde">
                    <label for="Cantiad de calorias"> <b>Cantidad de calorías</b> </label>
                    <input name="calories" type="number" value="{{calories}}" class="form-control" id="calories"
                        placeholder="Introduza la cantidad de calorias">
                </p>

                <p class="borde">
                <div class="margen">
                    <button type="submit" class="btn btn-success">Guardar
                        <i class="bi bi-check-square"> </i></button>

                    <a href="/" class="btn btn-danger">Cancelar <i class="bi bi-trash">
                        </i></a>

                </div>
                </p>
            </form>
        </div>

        <!-- Footer -->
        {{> components/footer}}

    </div>

    <script src="../js/view_recipe.js"></script>
</body>

</html>