<head>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap JS and Popper.js -->
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../css/components_css/preview_recipe.css">
</head>

{{#recipe}}
<div class="recipe_container">
	<!--Product id-->
	<label hidden class="recipe_id">{{id}}</label>
	<!-- Product image-->
	<img class="recipe_image" src="{{image}}" alt="..." />
	<!-- Product name-->
	<div class="recipe_name_container">
		<h5 class="recipe_name" title="{{label}}">{{label}}</h5>
	</div>
	<!-- Product actions-->
	<div class="view_details_container">
		<button class="view_details_button" onclick="window.location.href='/recipe/{{id}}'">
			<i class="fa-solid fa-circle-info"></i>
			Ver detalles</button>
	</div>
	<!-- Recipe details-->
	<div class="recipe_details_container">
		<div class="total_time_container">
			<i class="fa-regular fa-clock field"></i>
			<span class="total_time">
				{{#totalTime}} {{totalTime}} minutos{{/totalTime}}
				{{^totalTime}}Desconocido{{/totalTime}}
			</span>
		</div>
		<div class="people_container">
			<i class="fa-solid fa-people-group field"></i>
			<span class="people">{{people}} personas</span>
		</div>
		<div class="difficulty_container" alt="{{difficulty}}">
			<i class="fa-solid fa-utensils field"></i>
			<i class="fa-solid fa-circle diff1"></i>
			<i class="fa-solid fa-circle diff2"></i>
			<i class="fa-solid fa-circle diff3"></i>
			<i class="fa-regular fa-circle diff4"></i>
			<i class="fa-regular fa-circle diff5"></i>
			<span class="difficulty_grade"></span>
		</div>
		<div class="vegetarian_container">
			{{#vegetarian}}
			<i class="fa-solid fa-leaf field"></i>
			<span class="vegetarian">Vegetariano</span>
			{{/vegetarian}}
			{{^vegetarian}}
			<i class="fa-solid fa-drumstick-bite field"></i>
			<span class="vegetarian">Cárnico</span>
			{{/vegetarian}}
		</div>
		<div class="gluten_container">
			{{#hasGluten}}
			<i class="fa-solid fa-wheat-awn-circle-exclamation"></i>
			<span class="gluten">Contiene gluten</span>
			{{/hasGluten}}
			{{^hasGluten}}
			<i class="fa-solid fa-wheat-awn"></i>
			<span class="gluten">Sin gluten</span>
			{{/hasGluten}}
		</div>
		<div alt="{{calories}}" class="calories_container">
			<i class="fa-solid fa-fire field"></i>
			<span class="formatted_calories"></span>
		</div>
	</div>
	<div class="rating_father_container">
		<!--Rating scale-->
		<div class="rating_container">
			<div class="average_rating_container">
				<span class="average_rating">0.0</span>
			</div>
			<div class="rate_recipe_container">
				<h4 class="rate_recipe_text">Valora esta receta</h4>
			</div>
			<div class="stars_container">
				<fieldset class="rating">
					<input type="radio" class="star5" name="rating" value="5" /><label class="full" for="star5"></label>
					<input type="radio" class="star4half" name="rating" value="4.5" /><label class="half"
						for="star4half"></label>
					<input type="radio" class="star4" name="rating" value="4" /><label class="full" for="star4"></label>
					<input type="radio" class="star3half" name="rating" value="3.5" /><label class="half"
						for="star3half"></label>
					<input type="radio" class="star3" name="rating" value="3" /><label class="full" for="star3"></label>
					<input type="radio" class="star2half" name="rating" value="2.5" /><label class="half"
						for="star2half"></label>
					<input type="radio" class="star2" name="rating" value="2" /><label class="full" for="star2"></label>
					<input type="radio" class="star1half" name="rating" value="1.5" /><label class="half"
						for="star1half"></label>
					<input type="radio" class="star1" name="rating" value="1" /><label class="full" for="star1"></label>
					<input type="radio" class="starhalf" name="rating" value="0.5" /><label class="half"
						for="starhalf"></label>
					<input type="radio" class="reset-option" name="rating" value="reset" />
				</fieldset>
			</div>
		</div>
	</div>
	<script type="module" src="../../js/value_recipe.js"></script>
</div>
{{/recipe}}