{{#recipe}}
<div class="col mb-5 recipe">
	<div class="card h-100 cardRecipe">
		<!-- Product image-->
		<img class="card-img-top" src="{{image}}" alt="..." />
		<!-- Product details-->
		<div class="card-body p-4">
			<div class="text-center">
				<!-- Product name-->
				<h5 class="fw-bolder">{{label}}</h5>
			</div>
		</div>
		<!-- Product actions-->
		<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
			<div class="text-center"><button class="viewDetailsBut" href="#" style="font-family: Inter">
				<i class="fa-solid fa-circle-info" style="margin-right: 5px"></i>
				Ver detalles</a></div>
		</div>
		<!-- Recipe details-->
		<div class="recipeDetails">
			<div>
				<i class="fa-regular fa-clock field"></i>
				<span>{{totalTime}}</span>
			</div>
			<div>
				<i class="fa-solid fa-people-group field"></i>
				<span>{{people}}</span>
			</div>
			<div>
				<i class="fa-solid fa-utensils field"></i>
				<i class="fa-solid fa-circle"></i>
				<i class="fa-solid fa-circle"></i>
				<i class="fa-solid fa-circle"></i>
				<i class="fa-regular fa-circle"></i>
				<i class="fa-regular fa-circle"></i>
				<span>{{difficulty}}</span>
			</div>
			<div>
				<i class="fa-solid fa-leaf field"></i>
				<span>{{vegetarian}}</span>
			</div>
			<div>
				<i class="fa-solid fa-wheat-awn field"></i>
				<span>{{glutenFree}}</span>
			</div>
			<div>
				<i class="fa-solid fa-fire field"></i>
				<span>{{calories}}</span>
			</div>
		</div>
	</div>
</div>
{{/recipe}}