<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/landing.css" rel="stylesheet" />
    <link href="../css/viewRecipeStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Nav-->
    {{> components/nav}}

    <!-- Recipe container-->
    <div class="recipe_father_container">
        <div class="recipe_container">
            <div class="recipe_image_container">
                <img src=".{{recipe.image}}" alt="recipe_image" class="recipe_image">
            </div>
            <div class="recipe_info">
                <div class="recipe_info_header">
                    <h1 class="recipe_title">{{recipe.label}}</h1>
                    <p class="recipe_cuisine">{{#capitalize_first_letter}} {{recipe.cuisineType}}
                        {{/capitalize_first_letter}} food</p>
                    <p class="recipe_time"><i class="far fa-clock"></i> {{recipe.totalTime}} minutes</p>
                    <p class="recipe_difficulty">Dificultad: {{recipe.difficulty}}</p>
                    <p class="recipe_veg_glu">{{#recipe.vegetarian}} Vegetariana {{/recipe.vegetarian}}
                        {{^recipe.vegetarian}} No vegetariana
                        {{/recipe.vegetarian}} /{{#recipe.hasGluten}} Gluten {{/recipe.hasGluten}} {{^recipe.hasGluten}}
                        Sin gluten
                        {{/recipe.hasGluten}}</p>
                    <p class="recipe_calories">
                        <i class="bi bi-fire"></i>{{#format_calories}} {{recipe.calories}} {{/format_calories}} Kcal
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews container-->
    <div class="reviews_father_container">
        <div class="reviews_container">
            <h2 class="reviews_title">Reviews</h2>
            <div class="reviews">
                {{#reviews}}
                <div class="review">
                    <div class="review_header">
                        <p class="review_user">{{user}}</p>
                        <p class="review_date">{{date}}</p>
                    </div>
                    <div class="review_body">
                        <p class="review_text">{{text}}</p>
                    </div>
                </div>
                {{/reviews}}
            </div>
        </div>
    </div>


    <!-- Footer-->
    {{> components/footer}}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>