body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* ---------------------header--------------------- */
header {
  width: 100%;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-content: center;
}

.text_header {
  width: 100%;
  color: white;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maintext_header,
.subtext_header {
  margin-block: 0;
  padding: 5px;
}

.maintext_header {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.subtext_header {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #909294;
}

/* ---------------------Recipes Section--------------------- */
.recipes_container {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}