.navbar {
    background-color: #c1bf76;
    width: 100%;
    padding: 0;
}

#navbar_logo {
    height: 50px;
    cursor: pointer
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar_container {
    display: flex;
    width: 95%;
    margin: 1.75rem;
    justify-content: center;
    align-items: center;
}

.navbar_account {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.login_button,
.register_button,
.calories_button,
.newrecipe_button {
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login_button {
    background-color: white;
    color: black;
}

.register_button {
    background-color: black;
    color: white;
}

.calories_button,
.newrecipe_button {
    background-color: rgb(196, 196, 196);
    color: black;
}

.navbar_username {
    font-size: 16px;
    font-weight: bold;
    color: black;
    align-self: center;
    padding: 10px;
}

/*Navbar search bar and filtering*/
#searchFilter {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    align-items: center;
    gap: 1rem;
}

/*Navbar search bar*/
.bm-d-flex {
    display: flex;
}

#search-bar {
    padding-right: calc(1.5em + 0.75rem);
}