.navbar {
    background-color: #c1bf76;
    width: 100%;
    padding: 0;
}

#navbar_logo {
    height: 50px;
    cursor: pointer
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar_container {
    display: flex;
    width: 95%;
    margin: 1.75rem;
}

.navbar_account {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
}

.login_button,
.register_button {
    padding: 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login_button {
    background-color: white;
    color: black;
}

.register_button {
    background-color: black;
    color: white;
}

.navbar_username {
    font-size: 16px;
    font-weight: bold;
    color: black;
    align-self: center;
    padding: 10px;
}