/*fondo de la página */
.recipesBackground {
    background-color: #c8c69c; 
    height: 100vh; 
}

/* Estilo para el formulario */
.recipesFormEdit {
    background-color: #c7c5a4; /* Negro claro */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    padding: 20px; /* Espaciado interno */
}

/*títulos del formulario */
.recipesFormEdit label {
    color: #403f25; 
}

/* texto placeholders */
.recipesFormEdit input::placeholder {
    color: #402925; 
    ; 
}

/*casillas formulario*/
.recipesFormEdit .form-control {
    background-color: #c8c69c; 
    border: 2px solid #444323; 
    color: #403f25; 
}

/* marco cuando vas a escribir */
.recipesFormEdit .form-control:focus {
    border-color: #6b6942; 
    box-shadow: 0 0 5px #c1bf76; 
}


/*Boton de añadir */
.addbtn {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin bordes */
    color: #403f25; /* Color del texto (puedes cambiarlo) */
    font-size: 16px; /* Tamaño del texto */
    padding: 10px 20px; /* Espaciado interno para que sea cómodo de pulsar */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    text-decoration: none; /* Sin subrayado */
}

.addbtn:hover {
    color: #252415; /* Color del texto al pasar el mouse */
}

.addbtn:focus {
    outline: none; /* Elimina el contorno predeterminado del foco */
}

.addbtn:active {
    color: #535230; /* Color del texto al hacer clic */
}
.formColorTxt{
    color: #403f25;
}

.save {
    background-color: #28a745;
    color: white;
    border-radius: 10px;
    margin-top: 1vh;
}
.save:hover {
    background-color: #218838;
    transform: scale(1.05);
}
.smallWords{
    margin-top: 0.5vh;
    font-size: 1.5vh;
}
.cancel {
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
    margin-top: 1vh;
}

.cancel:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.rcpFormText {
    background-color: #c8c69c; /* Fondo de color #c8c69c */
    color: #403f25; /* Color del texto #403f25 */
    border: 2px solid #403f25; /* Borde de color #403f25 */
    padding: 10px; /* Espaciado interno para un buen aspecto */
    font-size: 16px; /* Tamaño del texto */
    border-radius: 10px; /* Bordes ligeramente redondeados */
}
.rcpFormText:focus {
    outline: none; /* Elimina el contorno predeterminado del foco */
    border-color: #6b6942; /* Color de borde al hacer foco */
    box-shadow: 0 0 5px #c1bf76;
}