/*fondo de la página */
.recipesBackground {
    background-color: #c8c69c; 
    height: 100vh; 
}

/* Estilo para el formulario */
.recipesFormEdit {
    background-color: #c7c5a4; /* Negro claro */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    padding: 20px; /* Espaciado interno */
}

/*títulos del formulario */
.recipesFormEdit label {
    color: #403f25; 
}

/* texto placeholders */
.recipesFormEdit input::placeholder {
    color: #402925; 
    ; 
}

/*casillas formulario*/
.recipesFormEdit .form-control {
    background-color: #c8c69c; 
    border: 2px solid #444323; 
    color: #403f25; 
}

/* marco cuando vas a escribir */
.recipesFormEdit .form-control:focus {
    border-color: #6b6942; 
    box-shadow: 0 0 5px #c1bf76; 
}